/* Don't import "tailwindcss/preflight" to prevent CSS reset */
@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);

body {
  font-family: sans-serif;
  padding: 20px;
}
.knockout-app {
  padding: 20px;
  border: 2px dashed #ff9900;
  max-width: 400px;
}
.knockout-data {
  background: #fff3e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.react-widget,
.react-widget > :first-child {
  display: contents;
}
